@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #000000;
  -webkit-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
}

.section-title {
  font-size: 36px;
  color: #2C2E81;
  padding: 25px 0;
}

a:hover {
  text-decoration: none;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: bolder;
}

.h1 {
  font-size: 45px;
}

.fbold, .subPageMain .pageHeader h1, .subPageMain .pageHeader .breadcrumb .active {
  font-weight: 700;
}

.fsbold, .section-title, .main-section .about-section article .h1, .main-section .group-col figure .h5, .partners .partnerstitle article .h1 {
  font-weight: 600;
}

.letterspacint, .section-title, .main-section .about-section article .h1, .partners .partnerstitle article .h1 {
  letter-spacing: -2px;
}

.brd-link, .bluebrdLink {
  padding: 7px 40px;
  border: 1px solid #ffffff;
  border-radius: 25px;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.brd-link:hover, .bluebrdLink:hover {
  background: #2C2E81;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 7px 40px;
}

.bluebrdLink {
  border: 1px solid #2C2E81;
  color: #2C2E81;
}

.bluebrdLink:hover {
  background: #2C2E81;
  color: #ffffff;
  border: 1px solid #2C2E81;
}

.fblue {
  color: #2C2E81;
}

.img-hover, .latest-gallery .item img:hover {
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.img-hover:hover, .latest-gallery .item img:hover {
  opacity: 0.9;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.video-section {
  position: relative;
  height: 100vh;
}

.video-section:after {
  content: '.';
  background: url(../img/bg-trans.png) repeat 0 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.video-section video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100vh;
}

.video-section video source {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.video-section .move-top-video {
  width: 65px;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #ffffff;
  border-radius: 50%;
  position: absolute;
  top: inherit;
  right: inherit;
  bottom: 10%;
  left: 50%;
  margin-left: -30px;
  z-index: 999;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.video-section .move-top-video:hover {
  position: absolute;
  top: inherit;
  right: inherit;
  bottom: 11%;
  left: 50%;
}

.video-section .move-top-video .icomoon {
  color: #ffffff;
  font-size: 45px;
}

.custom-container {
  width: 90%;
  margin: 0 auto;
}

.bsnav-sticky.bsnav-sticky-slide.sticked {
  box-shadow: 0 2px 4px #C4C4C4;
  -moz-box-shadow: 0 2px 4px #C4C4C4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #C4C4C4;
  -o-box-shadow: 0 2px 4px #C4C4C4;
}

header .navbar {
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0;
}

header .navbar .navbar-brand img {
  width: 200px;
}

header .navbar-nav .nav-link {
  color: #ffffff;
}

header .dropdown .navbar-nav .nav-link {
  color: #000000;
}

header .dropdown .navbar-nav .nav-link:hover {
  background: #2C2E81;
  color: #ffffff;
}

.main-section .about-section {
  background: #2C2E81;
  height: 450px;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
}

.main-section .about-section article {
  width: 100%;
  padding: 75px;
  color: #ffffff;
  position: relative;
  z-index: 10;
}

.main-section .about-section article .h1 {
  color: #ffffff;
}

.main-section .about-section article p {
  font-size: 16px;
  text-align: justify;
  padding-bottom: 20px;
}

.main-section .about-section article a {
  color: #ffffff;
}

.main-section .group-col {
  height: 450px;
}

.main-section .group-col figure {
  position: relative;
  overflow: hidden;
}

.main-section .group-col figure img {
  height: 100%;
  object-fit: cover;
  -moz-object-fit: cover;
  -webkit-object-fit: cover;
  -ms-object-fit: cover;
  -o-object-fit: cover;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.main-section .group-col figure img:hover {
  opacity: 0.9;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.main-section .group-col figure .h5 {
  background: #000000;
  position: absolute;
  top: inherit;
  right: 0;
  bottom: 0;
  left: 0;
  color: #ffffff;
  font-size: 20px;
  height: 50px;
}

.main-section .group-col figure .h5 .title {
  display: inline-block;
  padding: 10px 0 0 10px;
}

.main-section .group-col figure .h5 .link {
  background: #00A8E1;
  height: 50px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.main-section .group-col figure .h5 .link .icomoon {
  color: #ffffff;
}

.main-section .group-col figure .h5 .link:hover {
  background: #2C2E81;
}

.partners {
  height: 450px;
  background: #ffffff;
  box-shadow: 0 2px 4px #C4C4C4;
  -moz-box-shadow: 0 2px 4px #C4C4C4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #C4C4C4;
  -o-box-shadow: 0 2px 4px #C4C4C4;
  margin-bottom: 50px;
}

.partners .partnerstitle {
  background: #2C2E81;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.partners .partnerstitle article {
  width: 100%;
  padding: 60px;
  color: #ffffff;
  position: relative;
  z-index: 10;
}

.partners .partnerstitle article .h1 {
  color: #ffffff;
}

.partners .partnerstitle article p {
  font-size: 16px;
  text-align: center;
  padding-bottom: 20px;
}

.partners .brandscol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.partners .brandscol .swiper-slide img {
  border: 1px solid #f2f2f2;
  padding: 15px;
  width: 100%;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.blogcard {
  box-shadow: 0 2px 4px #C4C4C4;
  -moz-box-shadow: 0 2px 4px #C4C4C4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #C4C4C4;
  -o-box-shadow: 0 2px 4px #C4C4C4;
  margin-bottom: 25px;
  overflow: hidden;
}

.blogcard .card-img-top {
  height: 220px;
  object-fit: cover;
  -moz-object-fit: cover;
  -webkit-object-fit: cover;
  -ms-object-fit: cover;
  -o-object-fit: cover;
}

.blogcard .card-body h6 {
  min-height: 70px;
  max-height: 70px;
  line-height: 25px;
  padding-top: 10px;
}

.blogcard .card-body .round-link {
  width: 48px;
  height: 48px;
  background: #2C2E81;
  position: absolute;
  top: -25px;
  right: 10px;
  bottom: inherit;
  left: inherit;
  text-align: center;
  line-height: 53px;
  border-radius: 50%;
  border: 1px solid transparent;
  box-shadow: 0 2px 4px #C4C4C4;
  -moz-box-shadow: 0 2px 4px #C4C4C4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #C4C4C4;
  -o-box-shadow: 0 2px 4px #C4C4C4;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.blogcard .card-body .round-link:hover {
  background: #ffffff;
}

.blogcard .card-body .round-link:hover .icomoon {
  color: #2C2E81;
}

.blogcard .card-body .round-link .icomoon {
  font-size: 18px;
  color: #ffffff;
}

.latest-gallery {
  margin-bottom: 50px;
}

.latest-gallery .item {
  overflow: hidden;
}

.latest-gallery .item img {
  height: 220px;
  object-fit: cover;
  -moz-object-fit: cover;
  -webkit-object-fit: cover;
  -ms-object-fit: cover;
  -o-object-fit: cover;
  width: 100%;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

footer {
  position: relative;
}

footer .top-footer {
  background: #2C2E81;
  padding: 50px 0;
}

footer .top-footer .nav-link {
  color: #ffffff;
  padding: 0;
  margin: 0 10px;
  font-size: 15px;
  border-bottom: 1px solid transparent;
}

footer .top-footer .nav-link:hover {
  border-bottom: 1px solid #ffffff;
}

footer .top-footer .footer-social {
  margin: 25px 0 0 0;
}

footer .top-footer .footer-social a {
  width: 42px;
  height: 42px;
  background: #ffffff;
  border-radius: 50%;
  display: inline-block;
  line-height: 48px;
  text-align: center;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  border: 1px solid transparent;
}

footer .top-footer .footer-social a:hover {
  background: #2C2E81;
  border: 1px solid #ffffff;
}

footer .top-footer .footer-social a:hover .icomoon {
  color: #ffffff;
}

footer .top-footer .footer-social a .icomoon {
  font-size: 20px;
  color: #000000;
}

footer .moveTop {
  width: 40px;
  height: 40px;
  border: 1px solid #ffffff;
  position: fixed;
  bottom: 65px;
  right: 25px;
  display: inline-block;
  line-height: 40px;
  text-align: center;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  display: none;
  background: #00A8E1;
  z-index: 999;
}

footer .moveTop:hover {
  border-radius: 50%;
}

footer .moveTop .icomoon {
  color: #ffffff;
}

footer .bottom-footer {
  background: #00A8E1;
}

footer .bottom-footer p {
  padding: 10px 0;
}

.subPageMain {
  min-height: 500px;
}

.subPageMain .CarouselGroup {
  height: 700px;
}

.subPageMain .CarouselGroup .swiper-slide img {
  height: 700px;
}

.subPageMain .pageHeader {
  background: #2C2E81;
  padding: 25px 0;
}

.subPageMain .pageHeader h1 {
  color: #ffffff;
}

.subPageMain .pageHeader .breadcrumb {
  background: none;
  padding: 0;
  margin: 0;
}

.subPageMain .pageHeader .breadcrumb .breadcrumb-item a {
  color: #ffffff;
  font-size: 13px;
}

.subPageMain .pageHeader .breadcrumb .active {
  color: #ffffff;
  font-size: 13px;
}

.subPageMain .pageBody {
  min-height: 600px;
  padding: 50px 0;
}

.subPageMain .pageBody p {
  font-size: 14px;
  text-align: justify;
  line-height: 28px;
}

.subPageMain .pageBody .titleRow {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

.subPageMain .pageBody .titleRow .h5 {
  padding-bottom: 0;
  margin: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.GroupItemSwiper .swiper-wrapper {
  padding-bottom: 25px;
}

.GroupItemSwiper .swiper-pagination {
  bottom: -10px;
}

.offersSwiper .swiper-slide img {
  height: 200px;
}

.homeSlider .swiper-wrapper {
  height: 450px;
}

.homeSlider .swiper-wrapper img {
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=style.css.map */