@import 'variables';
@import 'mixins';

// font-family: 'Poppins', sans-serif;
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    text-decoration: none;
}
ul, li{
    list-style: none;
}

body{
    @include sitefont;
}

.section-title{
    font-size:$fsize * 2 + 6;
    color:$blue;
    @extend .fsbold;
    @extend .letterspacint;
    padding:25px 0;
}

a{
    &:hover{
        text-decoration: none;
    }
}

.h1, .h2, .h3, .h4, .h5, .h6{
    font-weight:bolder;
}

.h1{
    font-size:45px;
}

.fbold{
    font-weight:700;
}
.fsbold{
    font-weight:600;
}
.letterspacint{
    letter-spacing: -2px;
}

.brd-link{
    padding:7px 40px;
    border:1px solid $white;
    border-radius: 25px;
    @include transition;

    &:hover{
        background:$blue;
        color:$white;
        border:1px solid $white;
        padding:7px 40px;
    }
}

.bluebrdLink{
    @extend .brd-link;
    border:1px solid $blue;
    color:$blue;

    &:hover{
        background:$blue;
        color:$white;
        border:1px solid $blue;       
    }
}

.fblue{
    color:$blue;
}

.img-hover{
    @include transition;
    &:hover{
        opacity:0.9;
        transform: scale(1.1, 1.1);
    }
}


.video-section{   
    position:relative;
    height:100vh;

    &:after{
        content:'.';
      
        background:url(../img/bg-trans.png) repeat 0 0;
        width:100%;
        height:100%;
        @include positionall(0,0,0,0);        
    }

    video{       
        object-fit: cover;
        width:100%;  
        height:100vh;     

        source{
            width:100%;              
            @include positionall(0,0,0,0);                    
        }
    }

    .move-top-video{
        width:65px;
        height:65px;
        @include verticalcenter;
        border:1px solid $white;
        border-radius:50%;
        @include positionall(inherit,inherit,10%,50%);
        margin-left:-30px;
        z-index:999;
        @include transition;

        &:hover{
            @include positionall(inherit,inherit,11%,50%);
        }

        .icomoon{
            color:$white;
            font-size:$fsize * 3;
        }
    }
}

.custom-container{
    width:90%;
    margin:0 auto;
}

.bsnav-sticky.bsnav-sticky-slide.sticked{
    @include shadowbot;
}

header{
    .navbar{
        box-shadow: none;
        padding:0;

        .navbar-brand{
            img{
                width:200px;
            }
        }
    }
   .navbar-nav{
       .nav-link{
           color:$white;
       }       
   } 
   .dropdown{
       .navbar-nav{
           .nav-link{
               color:$black;
                &:hover{
                    background:$blue;
                    color:$white;
                }
           }
       }
   }
}


.main-section{
    .about-section{
        background:$blue;
        height:450px;
        background-size:cover;    
        position:relative;
        @include verticalcenter;
        text-align: left;
       
        article{           
            width:100%;
            padding:75px;            
            color:$white;
             position:relative;
             z-index:10;

            .h1{
               @extend .letterspacint;
               @extend .fsbold;
               color:$white;              
            }
            p{
                font-size:$fsize + 1;
                text-align:justify;
                padding-bottom:20px;
            }
            a{
                color:$white;
            }
            
        }
    }
    .group-col{
        height:450px;

        figure{
        position:relative;
        overflow: hidden;

            img{
                height:100%;
                @include objectfitcover;
                @include transition;

                &:hover{
                    opacity:0.9;
                    transform: scale(1.1, 1.1);
                }
            }

            .h5{
                background:$black;
                @include positionall(inherit,0,0,0);               
                color:$white;
                @extend .fsbold;
                font-size:$fsize + 5;
                height:50px;

                .title{
                    display:inline-block;
                    padding:10px 0 0 10px;
                }

                .link{
                    background:$lightblue;
                    height:50px;
                    width:50px;
                    @include verticalcenter;
                    @include transition;                   

                    .icomoon{
                        color:$white;
                    }
                    &:hover{
                        background:$blue;
                    }
                }
            }            
        }
    }
}

.partners{
    height:450px;
    background:$white;
    @include shadowbot;
    margin-bottom:50px;

    .partnerstitle{
        background:$blue;
        height:450px;
        @include verticalcenter;
        text-align: center;    
        
        article{           
            width:100%;
            padding:60px;            
            color:$white;
             position:relative;
             z-index:10;

            .h1{
               @extend .letterspacint;
               @extend .fsbold;
               color:$white;              
            }
            p{
                font-size:$fsize + 1;
                text-align:center;
                padding-bottom:20px;
            }
        }
    }
    .brandscol{
        @include verticalcenter;
    }
    .brandscol{
        .swiper-slide{
            img{
                border:1px solid lighten($black, 95%);
                padding:15px;
                width:100%;
            }
        }
    }
}

//swiper basic styles
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
text-align: center;
/* Center slide text vertically */
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
}

.blogcard{
    @include shadowbot;
    margin-bottom:25px;
    overflow: hidden;

    .card-img-top{
        height:220px;
        @include objectfitcover;
       
    }

    .card-body{
        h6{
            min-height:70px;
            max-height:70px;
            line-height:25px;
            padding-top:10px;
        }
        .round-link{
            width:48px;
            height:48px;
            background:$blue;
            @include positionall(-25px,10px,inherit,inherit);
            text-align:center;
            line-height:53px;
            border-radius:50%;
            border:1px solid transparent;
            @include shadowbot;
            @include transition;

            &:hover{
                background:$white;
                
                .icomoon{
                    color:$blue;
                }
            }
            
            .icomoon{
                font-size:$fsize + 3;
                color:$white;
            }
        }
    }
}


.latest-gallery{
    margin-bottom:50px;
    .item{
        overflow: hidden;
        img{
            height:220px;
            @include objectfitcover;
            width:100%;
            @include transition;

            &:hover{
                @extend .img-hover;
            }
        }
    }
}

footer{
    position: relative;
    .top-footer{
        background:$blue;
        padding:50px 0;

        .nav-link{
            color:$white;
            padding:0;
            margin:0 10px;
            font-size:$fsize;
            border-bottom:1px solid transparent;
    
            &:hover{
                border-bottom:1px solid $white;
            }
        }
        .footer-social{
            margin:25px 0 0 0;
            a{
                width:42px;
                height:42px;          
                background:$white;
                border-radius:50%;
                display:inline-block;
                line-height:48px;
                text-align:center;
                @include transition;
                border:1px solid transparent;
    
                &:hover{
                    background:$blue;
                    border:1px solid $white;
                    
                    .icomoon{
                        color:$white;
                    }
                }
    
                .icomoon{
                    font-size:$fsize + 5;
                    color:$black;
                }
            }
        }
    }
    .moveTop{
        width:40px;
        height:40px;
        border:1px solid $white;
        position:fixed;
        bottom:65px;
        right:25px;
        display:inline-block;
        line-height:40px;
        text-align:center;
        @include transition;
        display:none;
        background:$lightblue;
        z-index: 999;

        &:hover{
            border-radius:50%;
        }
        .icomoon{
            color:$white;
        }
    }

    .bottom-footer{
        background:$lightblue;
       p{
        padding:10px 0;
       }
    }
}

.subPageMain{
    min-height:500px;  

    .CarouselGroup{
        height:700px;

        .swiper-slide{
            img{
                height:700px;
            }
        }
    }

    .pageHeader{
        background:$blue;
        padding:25px 0;

        h1{
            color:$white;
            @extend .fbold;
        }

        .breadcrumb{
            background:none;
            padding:0;
            margin:0;

          

            .breadcrumb-item{
                a{
                    color:$white;
                    font-size:$fsize - 2;
                }
            }
            .active{
                @extend .fbold;
                color:$white;
                font-size:$fsize - 2;
            }
        }
    }

    //page body 
    .pageBody{
        min-height:600px;
        padding:50px 0;

        p{
            font-size:$fsize - 1;
            text-align:justify;
            line-height:28px;
        }

        .titleRow{
            border-bottom:1px solid #ccc;
            padding-bottom:20px;

            .h5{
                padding-bottom:0;
                margin:0;
                align-self:center;
            }
        }
    }
}

.GroupItemSwiper{
    .swiper-wrapper{
        padding-bottom:25px;
    }
    .swiper-pagination{
        bottom:-10px;
    }
}

.offersSwiper{
    .swiper-slide{
        img{
            height:200px;
        }
    }
}


.homeSlider{
    .swiper-wrapper{
         height:450px;
        img{
            height:450px;
            object-fit: cover;
        }
    }
}